<div class="home-subview col">
  In the world of scientific literature, one often wishes there were a fast way to clarify obscure terms, give context to specific concepts, and find out more about how certain areas of research fit into the current landscape.
  Enter LitGenius, an app for annotating academic papers, inspired by <a class="genius" href="genius.com">Genius</a>.
  <br><br>
  Features include:</p>
  <br>
  <ul class="about-list">
    <li class="about-block">
      <img class="about-icon" src="assets/about-field.png">
      <div class="about-text">Browse literature from a variety of STEM fields</div>
    </li>
    <li class="about-block skip">
      <img class="about-icon" src="assets/about-search.png">
      <p class="about-text">Search by author name, journal, and specific field</p>
    </li>
    <li class="about-block">
      <img class="about-icon" src="assets/about-annotation.png">
      <p class="about-text">Annotate papers by highlighting text</p>
    </li>
    <li class="about-block skip">
      <img class="about-icon" src="assets/about-comment.png">
      <p class="about-text">Reply to annotations and comment on papers</p>
    </li>
    <li class="about-block">
      <img class="about-icon" src="assets/about-vote.png">
      <p class="about-text">Vote on comments</p>
    </li>
    <li class="about-block skip">
      <img class="about-icon" src="assets/about-new.png">
      <p class="about-text">Post new papers</p>
    </li>
    <li class="about-block">
      <img class="about-icon" src="assets/about-profile.png">
      <p class="about-text">View a user's most recent activity on their profile</p>
    </li>
  </ul>
</div>
