<div class="home-subview col">
  <h4>What is LitGenius?</h4>
  <br>
  LitGenius is an app for annotating academic papers (inspired by <a class="genius" href="genius.com">Genius</a>). Here's how it works:</p>
  <br>
  <ul class="about-list">
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <div class="about-text">Users can browse literature from various STEM fields...</div>
    </li>
    <br>
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <p class="about-text">...and can search by author name, journal, and specific field</p>
    </li>
    <br>
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <p class="about-text">Users can annotate papers by highlighting text and filling out the annotation form</p>
    </li>
    <br>
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <p class="about-text">Users can reply to annotations and comment on papers...</p>
    </li>
    <br>
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <p class="about-text">...and can vote on those comments to rank them.</p>
    </li>
    <br>
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <p class="about-text">Users can post a paper from the new paper icon in the top left corner</p>
    </li>
    <br>
    <li class="about-block">
      <img class="about-image" src="assets/dots.jpg">
      <p class="about-text">A user's most recent activity will show up in a feed on their profile</p>
    </li>
    <br>
    <li class="about-block">
      <p>Happy annotating!</p>
    </li>
  </ul>
</div>
