<div class="contact-content">
  <h3 class="contact-title">Contact</h3>

  <p class="contact-body">
  This website was created and is maintained by Jenny Heath. She'd rather not put her email address on the internet but you can find her on github at:
    <a href="https://github.com/jennyheath">https://github.com/jennyheath</a>
  </p>
</div>
