<div class="contact-content row">
  <div class="contact-photo col-md-2">
    <img class="img-circle" src="assets/jenny.jpg" width="150" height="150">
  </div>

  <div class="contact-info col-md-5">
    <h3 class="contact-title">Contact</h3>
    <div class="contact-body">
    This website was created and is maintained by Jenny Heath. She'd rather not put her email address on the internet but you can find her on github at:
      <a href="https://github.com/jennyheath">https://github.com/jennyheath</a>
    </div>
  </div>
</div>
