<li class="comment">
  <h6><%= comment.escape('author_name') %></h6>
  <p><%= comment.escape('body')%></p>

  <button class="up-vote">up-vote</button>
  <%= voteCount %>
  <button class="down-vote">down-vote</button>

  <% if (CURRENT_USER_ID === comment.get('user_id')) { %>
    <button class="delete-comment">Delete</button>
  <% } %>
</li>
