<li class="comment clearfix">
  <div class="comment-content">
    <% var userProfile = "#/users/" + comment.get('user_id') %>
    <a href=<%= userProfile %>>
      <h6 class="user-name"><%= comment.escape('author_name') %></h6>
    </a>
    <p class="comment-body"><%= comment.escape('body')%></p>

    <div class="up-vote"><img id="upVote" class="vote" src="assets/thumbs_up.png"></div>
    <div class="vote-count vote"><%= voteCount %></div>
    <div class="down-vote"><img id="downVote" class="vote" src="assets/thumbs_down.png"></div>

    <% if (CURRENT_USER_ID === comment.get('user_id')) { %>
      <button class="delete-comment delete">Delete</button>
    <% } %>
  </div>
</li>
