<div class="annotation-show">
  <h5><%= annotation.escape('author_name') %></h5>

  <p class="annotation-body">
    <%= annotation.escape('body') %>
  </p>

  <% if (CURRENT_USER_ID === annotation.get('user_id')) { %>
    <button class="delete-annotation">Delete</button>
  <% } %>

  <p>Replies: </p>
  <ul class="comment-list"></ul>
  <form class="comment-form">
    <input type="text-area" name="comment[body]" id="comment" value="<%= comment.escape('body') %>">
    <input type="hidden" name="comment[commentable_id]" value="<%= annotation.id %>">
    <input type="hidden" name="comment[commentable_type]" value="Annotation">

    <button class="submit">Comment</button>
  </form>
</div>
