<form class="new-paper-form">
  <h3>Post a New Paper</h3>
  <br>
  <label>Title
    <br>
    <input
      class="paper-input"
      type="text"
      name="paper[title]"
      value="<%= paper.escape("title") %>">
  </label>
  <br>
  <label>Body
    <br>
    <textarea class="paper-input paper-input-body" name="paper[body]"><%= paper.escape("body") %></textarea>
  </label>
  <br>
  <label>Field
    <br>
    <select name="paper[field]" class="paper-input">
      <option value:"Abstract Algebra">Abstract Algebra</option>
      <option value:"Astrophysics">Astrophysics</option>
      <option value:"Biochemistry">Biochemistry</option>
      <option value:"Bioengineering">Bioengineering</option>
      <option value:"Bioinformatics">Bioinformatics</option>
      <option value:"Biophysics">Biophysics</option>
      <option value:"Cell Biology">Cell Biology</option>
      <option value:"Chemistry">Chemistry</option>
      <option value:"Chemical_engineering">Chemical Engineering</option>
      <option value:"Epidemiology">Epidemiology</option>
      <option value:"Genetics">Genetics</option>
      <option value:"Geometry">Geometry</option>
      <option value:"Geophysics">Geophysics</option>
      <option value:"Inorganic Chemistry">Inorganic Chemistry</option>
      <option value:"Molecular Biology">Molecular Biology</option>
      <option value:"Neurobiology">Neurobiology</option>
      <option value:"Number Theory">Number Theory</option>
      <option value:"Organic Chemistry">Organic Chemistry</option>
      <option value:"Physics">Physics</option>
      <option value:"Physical Chemistry">Physical Chemistry</option>
      <option value:"Physiology">Physiology</option>
      <option value:"Topology">Topology</option>
      <option value:"Other">Other</option>
    </select>
  </label>
  <br>
  <label>Authors
    <br>
    <input
      class="paper-input"
      type="text"
      name="paper[authors]"
      value="">
  </label>
  <br>
  <label>Institution
    <br>
    <input
      class="paper-input"
      type="text"
      name="paper[institution]"
      value="">
  </label>
  <br>
  <label>Journal
    <br>
    <input
      class="paper-input"
      type="text"
      name="paper[journal]"
      value="">
  </label>
  <br>
  <button class="submit-paper submit">Post Paper</button>
</form>
