<div class="paper-heading">
  <h3><%= paper.escape('title') %></h3>
  <h6>Published in: </h6>
  <p>Authors:</p>
  <p>Name of institution</p>
</div>

<div class="paper-show clearfix row-full-height">
  <div class="col-full-height">
    <div class="paper-body"><%= paper.formattedBody() %></div>

    <% if (paper.get('user_id') === CURRENT_USER_ID) { %>
      <button class="delete-paper">Delete Paper</button>
    <% } %>
    <form class="paper-comment-form">
      <input type="text-area"
             name="comment[body]"
             id="comment"
             value="<%= comment.escape('body') %>">

      <input type="hidden" name="comment[commentable_id]" value="<%= paper.id %>">
      <input type="hidden" name="comment[commentable_type]" value="Paper">
      <button class="submit">Comment</button>
    </form>
    <p class="paper-comments-title">Comments:</p>
    <ul class="paper-comment-list"></ul>
  </div>

  <div class="annotation-pane col-full-height"></div>
</div>
