<h3><%= paper.escape('title') %></h3>

<div class="paper-show clearfix row-full-height">
  <p class="paper-body col-full-height">
    <%= paper.escape('body') %>
  </p>
  <div class="annotation-pane col-full-height"></div>
</div>
