.about-block {
  height: 200px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
  // padding-top: 15px;
  border-bottom: 1px solid #242424;
  padding-right: 50px;
}

.about-block:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.about-image {
  width: 400px;
  display: table-cell;
  float: left;
  height: 100%;
  right: 0;
  top: 0;
}

.about-list {
  padding-left: 0px;
}

.about-text {
  margin-left: 50px;
  width: 400px;
  float: left;
  height: 100%;
  right: 0;
  top: 0;
}

.genius {
  color: orange;
}
