.about-block {
  overflow: hidden;
  width: 900px;
  padding-right: 50px;
}

.about-icon {
  height: 80px;
  opacity: 0.5;
  display: table-cell;
  float: left;
  right: 0;
  top: 0;
}

.about-list {
  padding-left: 0px;
}

.about-text {
  margin-left: 50px;
  padding-top: 25px;
  width: 400px;
  float: left;
  height: 100%;
  right: 0;
  top: 0;
}

.genius {
  color: orange;
}

.about-block:hover .about-icon {
  opacity: 1.0;
}

.skip {
  padding-left: 60px;
}
