/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
  text-decoration: none;
  color: #000;
}

a:hover, .field-category-home:hover {
  text-decoration: none;
  color: #B2B2B2; //#337AB7;//#FFCC00;
}

a:active {
  text-decoration: none;
}

a:li .search-result-link {
  background-color: #eee;
}

.about-box {
  margin-left: 25px;
  height: 600px;
  width: 30.4%;
  margin-top: 75px;
  background: url('ecoli.png');
  overflow: hidden;
  background-size: auto 100%;
  opacity: 0.8;
}

.about-link {
  display: block;
}

.annotation-body {
  font-size: 12px;
  background-color: #eee;
  padding: 5px;
  padding-left: 15px;
  font-family: Helvetica, Arial;
}

.annotation-item a {
  background-color: #FDE367;
}

.annotation-item a:hover {
  background-color: #EDA92A;
  color: #000;
}

.annotation-pane {
  width: 500px;
  padding-left: 50px;
}

.annotation-show {
  border-left: 3px solid #EB7D24;
  padding-left: 15px;
  font-size: 13px;
}

.annotation-tag {
  background-color: #FDE367;
}

.annotation-tag:hover {
  background-color: #EDA92A; //#EB7D24;
  color: #000;
}

.app-name {
  text-align: center;
  color: #fff;
  padding: 120px;
}

body {
  background-color: #fff;
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

button {
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  border-style: none;
}

.category-nav {
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0px;
  // border-bottom: 1px solid #fff;
  border-bottom: 2px solid #E0E0E0; //#647284;
}

.col-full-height {
  float: none;
  display: table-cell;
}

.comment {
  list-style: none;
  border: 1px solid #eee;
  margin-bottom: 8px;
}

.comment-body {
  background-color: #eee;
  margin-right: -10px;
  margin-left: -10px;
  padding: 5px;
  padding-left: 20px;
  font-family: Helvetica, Arial;
  font-size: 12px;
}

.comment-content {
  margin: 10px;
}

.comment-form-body {
  width: 100%;
  padding-bottom: 35px;
}

.comment-list {
  padding-left: 0px;
}

.contact-box {
  height: 200px;
  width: 88%;
  margin-top: 25px;
  background: url('catseye.png');
  overflow: hidden;
  background-size: 100% auto;
  opacity: 0.8;
}

.delete {
  font-size: 12px;
  float: right;
  background-color: red; //#FF5C33;
  opacity: 0.6;
}

.delete:hover {
  opacity: 1.0;
}

.dropdown-box {
  position: absolute;
  right: 10px;
  width: 300px;
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
}

.featured-box {
  height: 600px;
  width: 55%;
  margin-top: 75px;
  background: url('crispr.png');
  overflow: hidden;
  background-size: auto 100%;
  opacity: 0.8;
}

.field {
  // color: #fff;
  color: #555;
  font-size: 14px;
  padding-bottom: 15px;
}

.field-category {
  display: block;
  float: left;
  list-style: none;
  margin-left: 30px;
  font-size: 14px;
}

.field-category:hover {
  background-color: #eee;
}

.field-category-home {
  color: #555555; //#242424;
  padding-top: 15px;
}

.field-index-home {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  background-color: #F3F3F3;
}

.field-page-title {
  // text-align: center;
  left: 50%;
  position: relative;
}

.field-subtitle {
  float: left;
  padding: 10px;
  transform: translateX(-50%);
  color: #666666;
  // font-size: 16px;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.field-title {
  background-color: red;
  padding: 10px;
  float: left;
  transform: translateX(-50%);
  color: #fff;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}

.header {
  font-weight: bold;
}

.home-page-content {
  height: 1000px;
}

.home-subview {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.home-subview-box {
  float: left;
  background-color: #000;
  // background: url('grid.png');
  color: #fff;
}

.home-subview-box:hover {
  opacity: 0.9;
}

.home-subview-box-text {
  margin: 10px;
}

.jumbotron {
  height: 425px;
  position: relative;
  background-image: url("neurons-2.png");
  background-size: cover;
  overflow: hidden;
}

.jumbotron a {
  color: #fff;
}

.jumbotron p {
  font-weight: bold;
  font-size: 35px;
}

li {
  list-style: none;
}

.logo {
  width: 150px;
  padding-left: 10px;
  margin-left: 15px;
  margin-top: -8px;
  display: block;
  float: left;
}

.navbar-main {
  background-color: #fff;
  // color: #fff;
  // background-color: #EAEAEA; //#EEE;
  color: #000; // #647284;//#555;
  border-top: 3px solid red;
}

.new-paper {
  font-size: 14px;
}

.new-paper-icon {
  height: 20px;
}

.new-paper-link {
  display: block;
  text-align: center;
}

.paper-body {
  width: 500px;
  margin-left: 50px;
  white-space: pre-wrap;
  font-size: 12px;
  font-family: "Helvetica", Helvetica, Arial;
}

.paper-comment-form-body {
  width: 100%;
  padding-bottom: 35px;
}

.paper-comment-form {
  padding-top: 25px;
  padding-left: 50px;
}

.paper-comment-list {
  padding-left: 50px;
}

.paper-comments-title {
  padding-top: 20px;
  padding-left: 50px;
}

.paper-show {
  display: block;
  float: left;
}

.paper-heading {
  padding-left: 50px;
}

.paper-link-home {
  margin: 50px;
  display: inline-block;
  float: none;
  text-align: left;
  overflow: hidden;
  border-bottom: 3px solid red;
  vertical-align: top;
}

.paper-link-home:hover {
  background: url('dots.jpg');
  color: #000;
}

.paper-link-image {
  margin-left: -14px;
  width: 355px;
  height: 200px;
  overflow: hidden;
  top: 0px;
  left: 0px;
}

.paper-image {
  height: 100%;
}

.paper-link-text {
  margin-top: 30px;
  margin-bottom: 20px;
  bottom: 0px;
  left: 0px;
}

.paper-link-title {
  color: red;
  font-size: 16px;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.paper-info {
  font-size: 12px;
  font-family: Helvetica, Arial;
}

.paper-item a {
  font-style: italic;
}


.profile {
  display: block;
  float: right;
  margin-right: 20px;
}

.profile-icon {
  display: block;
  float: right;
  height: 25px;
  margin-right: 15px;
  margin-top: -3px;
  // margin-bottom: 20px;
}

.profile-link {
  float: left;
  margin-right: 15px;
}

.profile-picture {
  height: 100px;
}

.row {
  text-align: center;
  margin: 0px;
}

.row-centered {
  text-align:center;
}

.row-full-height {
  float: none;
  display: table;
}

.search-bar {
  display: block;
  padding: 5px;
  text-align: right;
  border-bottom: 1px solid #E0E0E0; //#647284;
  position: relative;
}

.search-box {
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  // background: #F2F2F2;
  background: url('magnifying-glass.png') no-repeat;// 5px 5px;
  background-size: 20px 20px;
  background-position: 98% 50%;
  border: 1px solid #E0E0E0; //#647284;
  text-indent: 10px;
}

.search-result-link {
  border-bottom: 1px solid #000;
  text-align: left;
  text-indent: 10px;
}

.sign-out {
  display: block;
  float: right;
  margin-right: 30px;
}

.submit-comment {
  background-color: #23C8AA; //#A0FB70;
  opacity: 0.8;
  margin-top: 5px;
}

.submit-comment:hover {
  opacity: 1.0;
}

.toggle-sign-in {
  display: block;
  float: right;
}

.user-feed {
  padding-left: 50px;
  margin-top: 20px;
  text-align: left;
}

.user-feed-item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.user-feed-title {
  font-weight: bold;
}

.user-profile-sidebar {
  padding-left: 50px;
  text-align: center;
}

.down-vote, .up-vote {
  height: 20px;
  float: left;
}

.vote {
  height: 20px;
  float: left;
}

.vote-count {
  float: left;
  width: 25px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
