/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
  text-decoration: none;
}

a:hover, .field-category-home:hover {
  text-decoration: none;
  color: #337AB7;//#FFCC00;
}

.about-link {
  display: block;
}

.annotation-pane {
  width: 500px;
  margin-left: 50px;
}

.app-name {
  text-align: center;
}

body {
  background-color: #fff;
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

.category-nav {
  display: block;
  padding: 10px;
  // border-bottom: 1px solid #fff;
  border-bottom: 1px solid #647284;
}

.col-full-height {
  float: none;
  display: table-cell;
}

.comment {
  list-style: none;
}

.field {
  // color: #fff;
  color: #555;
  font-size: 14px;
}

.field-category {
  display: block;
  float: left;
  list-style: none;
  margin-left: 30px;
  font-size: 14px;
}

.field-category-home {
  display: block;
  float: left;
  margin-left: 90px;
  color: #242424;
}

.field-index-home {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.jumbotron {
  height: 400px;
  // position: relative;
  // background: #000 url("../../images/neurons.jpg") center center;
  // width: 100%;
  // height: 100%;
  // background-size: cover;
  // overflow: hidden;
}

li {
  list-style: none;
}

.logo {
  width: 150px;
}

.navbar-main {
  // background-color: #000;
  // color: #fff;
  background-color: #EAEAEA; //#EEE;
  color: #647284;//#555;
}

.new-paper-link {
  display: block;
  text-align: center;
}

.paper-show {
  display: block;
  float: left;
}

.paper-body {
  width: 500px;
  margin-left: 50px;
}

.profile-icon {
  display: block;
  float: right;
  height: 25px;
  margin-right: 15px;
}

.row-full-height {
  float: none;
  display: table;
}

.search-bar {
  display: block;
  padding: 5px;
  text-align: right;
  border-bottom: 1px solid #647284;
  position: relative;
  // height: 100%;
}

.search-box {
  border-radius: 8px;
  padding: 5px;
  width: 300px;
  background: #F2F2F2;
  border: 1px solid #647284;
  text-indent: 10px;
}

.dropdown-box {
  position: absolute;
  right: 10px;
  display: block;
  float: right;
  width: 300px;
}

.sign-out {
  // text-align: right;
  display: block;
  float: right;
  margin-right: 10px;
  // margin-top: 10px;
}

.logo {
  display: block;
  float: left;
}

.toggle-sign-in {
  display: block;
  float: right;
}
