/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
  text-decoration: none;
  color: #000;
}

// TODO: visited text doesn't change color

a:hover, .field-category-home:hover {
  text-decoration: none;
  color: #B2B2B2; //#337AB7;//#FFCC00;
}

a:active {
  text-decoration: none;
}

.annotation-body {
  font-size: 12px;
  background-color: #eee;
  padding: 5px;
  padding-left: 15px;
  font-family: Helvetica, Arial;
}

.annotation-form-body {
  width: 300px;
}

.annotation-item a {
  background-color: #FDE367;
}

.annotation-item a:hover {
  background-color: #EDA92A;
  color: #000;
}

.annotation-show {
  border-left: 3px solid #EB7D24;
  padding-left: 15px;
  font-size: 13px;
  text-align: left;
  width: 500px;
}

.annotation-tag {
  background-color: #FDE367;
}

.annotation-tag:hover {
  background-color: #EDA92A; //#EB7D24;
  color: #000;
}

.app-name {
  text-align: center;
  padding: 120px;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}

.about-link {
  display: block;
}

body {
  background-color: #fff;
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  margin:0;
  padding:0;
  height:100%;
  position: relative;
  cursor: default;
}

button {
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  border-style: none;
}

.contact-content {
  margin-left: 100px;
  margin-top: 50px;
  width: 700px;
}

.col-full-height {
  float: none;
  display: table-cell;
}

.delete {
  font-size: 12px;
  float: right;
  background-color: red; //#FF5C33;
  opacity: 0.6;
}

.delete:hover {
  opacity: 1.0;
}

#footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  border-top: 2px solid red;
}

.footer-nav, .footer-nav a {
  font-weight: 100;
}

.footer-home, .footer-about, .footer-contact {
  float: left;
  margin-left: 20px;
}

.footer-sign-out {
  float: right;
  margin-right: 20px;
}

.footer-home, .footer-about, .footer-contact, .footer-sign-out {
  display: block;
  margin-top: 5px;
  font-family: "Helvetica Light", Helvetica, sans-serif;
}

.header {
  font-weight: bold;
}

.jumbotron {
  height: 425px;
  position: relative;
  background-image: url("neurons-2.png");
  background-size: cover;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}

li {
  list-style: none;
}

.logo {
  width: 150px;
  padding-left: 10px;
  margin-left: 15px;
  margin-top: -8px;
  display: block;
  float: left;
}

#main {
  min-height: 700px;
  display: table;
  width: 100%;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-header,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 8px;
}

.navbar-default .navbar-nav > li {
  padding: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #00A37A;
  border-radius: 10px;
}

.navbar-header {
  padding: 20px;
}

.splash-content {
  min-height: 705px;
  background-color: #313445; //#46C1CE; //#EB3B31;
  font-family: "Helvetica Light", Helvetica, sans-serif;
  font-weight: lighter;
}

.splash-image {
  height: 200px;
}

.splash-logo {
  width: 150px;
}

.splash-header {
  color: #fff;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paper-body-col {
  margin-left: 35px;
  float: left;
  height: 100%;
  width: 515px;
  padding-right: 0px;
  right: 0;
  top: 0;
}

.paper-body {
  text-align: left;
  width: 500px;
  white-space: pre-wrap;
  font-size: 12px;
  font-family: "Helvetica", Helvetica, Arial;
}

.annotation-pane {
  height: 100%;
  width: 50%;
  float: left;
  right: 0;
  top: 0;
  padding-left: 25px;
  text-align: left;
}

.row {
  text-align: center;
  margin: 0px;
}

.row-centered {
  text-align:center;
}

.row-full-height {
  float: none;
  display: table;
}

.submit-comment,
.annotation-button,
.submit-annotation,
.submit-paper {
  background-color: #23C8AA; //#A0FB70;
  opacity: 0.8;
  margin-top: 5px;
}

.submit-comment:hover,
.annotation-button:hover,
.submit-annotation:hover,
.submit-paper:hover {
  opacity: 1.0;
}

.toggle-sign-in {
  display: block;
  float: right;
}

.user-form {
  margin-bottom: 10px;
  border-radius: 8px;
  border-style: none;
  text-indent: 5px;
  height: 30px;
  width: 200px;
}

.user-submit {
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #00A37A;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
