.category-nav {
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0px;
  // border-bottom: 1px solid #fff;
  border-bottom: 2px solid #E0E0E0; //#647284;
}

.home-page-content {
  height: 1000px;
  display: table-cell;
}

.home-subview {
  width: 1000px;
  height: 1000px;
  margin-top: 50px;
  margin-left: 200px;
  // margin-right: 100px;
  display: inline-block;
  float: none;
  text-align: left;
}
