.dropdown-box {
  position: absolute;
  right: 10px;
  width: 400px;
  background-color: #fff;
  z-index: 1;
  border-radius: 3px;
}

.navbar-main {
  background-color: #fff;
  // color: #fff;
  // background-color: #EAEAEA; //#EEE;
  color: #000; // #647284;//#555;
  border-top: 2px solid red;
}

.search-bar {
  display: block;
  padding: 5px;
  text-align: right;
  border-bottom: 1px solid #E0E0E0; //#647284;
  position: relative;
}

.search-box {
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  // background: #F2F2F2;
  background: url('magnifying-glass.png') no-repeat;// 5px 5px;
  background-size: 20px 20px;
  background-position: 98% 50%;
  border: 1px solid #E0E0E0; //#647284;
  text-indent: 10px;
  font-size: 12px;
}

.sign-out {
  display: block;
  float: right;
  margin-right: 30px;
}
