// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author-name, .comma {
  font-size: 12px;
  display: inline-block;
  float: left;
  // text-decoration: underline;
}

.comma {
  margin-right: 5px;
}

.new-paper {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

.new-paper-icon {
  height: 12px;
  margin-right: 5px;
  margin-left: -35px;
  margin-bottom: 3px;
}

.new-paper-icon-nav, .new-paper-nav {
  height: 12px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.new-paper-nav {
  padding-bottom: 5px;
}

.new-paper-form {
  margin-left: 50px;
}

.new-paper-form input,
.new-paper-form textarea {
  font-weight: normal;
  font-size: 12px;
}

.paper-authors {
  float: left;
  margin-right: 5px;
}

.paper-author-name {
  display: inline-block;
  float: left;
}

.paper-show {
  overflow: hidden;
  width: 100%;
}

.paper-comment-form-body {
  width: 100%;
  padding-bottom: 35px;
}

.paper-comment-form {
  padding-top: 25px;
  text-align: left;
}

.paper-comments-title {
  padding-top: 20px;
  text-align: left;
  font-weight: bold;
}

.paper-institution {
  margin-top: 7px;
}

.paper-heading {
  padding-left: 50px;
  padding-right: 50px;
}

.paper-link-home {
  margin: 50px;
  display: inline-block;
  float: none;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
}

.paper-link-home.col-md-3 {
  width: 355px;
}

.paper-link-home:hover {
  background: url('dots.jpg');
  color: #000;
}

.paper-link-image {
  margin-left: -14px;
  width: 355px;
  height: 200px;
  overflow: hidden;
  top: 0px;
  left: 0px;
}

.paper-image {
  height: 220px;
  width: auto;
}

.paper-input-body {
  height: 100px;
}

.paper-link-text {
  margin-top: 30px;
  margin-bottom: 20px;
  bottom: 0px;
  left: 0px;
}

.paper-link-title {
  color: red;
  font-size: 16px;
  font-family: "Roboto Condensed", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paper-info {
  font-size: 12px;
  font-family: Helvetica, Arial;
}

.paper-input {
  width: 350px;
}

.paper-item a {
  font-style: italic;
}

.paper-subheading {
  font-size: 12px;
}

a .paper-subheading,
.paper-author-name,
.paper-subheading a {
  color: #005F97;
  font-family: Helvetica, sans-serif;
  // text-decoration: underline;
}

.paper-institution {
  text-decoration: none;
}

.paper-institution:hover {
  color: #B2B2B2;
}
