<div class="jumbotron">
  <div class="container">
    <p class="app-name" style="font-weight: bold; font-size: 35px">MORE SCIENCE. LESS JARGON.</p>
  </div>
</div>

<nav class="field-index-home row">
  <div class="field-category-home category-home col-md-2">Home</div>
  <div class="field-category-home col-md-2">Biological Sciences</div>
  <div class="field-category-home col-md-2">Chemical Sciences</div>
  <div class="field-category-home col-md-2">Physical Sciences</div>
  <div class="field-category-home col-md-2">Mathematics</div>
</nav>

<div class="home-page-content row">
</div>
