<div class="jumbotron">
  <div class="container">
    <p class="app-name">ANNOTATE THINGS. GET BETTER SLOGANS.</p>
    <div class="new-paper-link">
      <a href="#/papers/new">Post a new paper</a>
    </div>
  </div>
</div>

<nav class="field-index-home">
  <ul class="field-list-home">
    <li class="field-category-home category-home">Home</li>

    <li class="field-category-home">Biological Sciences</li>

    <li class="field-category-home">Chemical Sciences</li>

    <li class="field-category-home">Physical Sciences</li>

    <li class="field-category-home">Mathematics</li>
  </ul>
</nav>

<div class="home-page-content">
</div>
