<h1>LitGenius</h1>

<div class="new-paper-link">
  <a href="#/papers/new">Add a paper</a>
</div>

<nav class="field-index">
  <ul class="field-list">
    <li>
      <a href="#">Biological Sciences</a>
      <ul class="field-categories">
        <li><a href="#">Biochemistry</a></li>
        <li><a href="#">Bioengineering</a></li>
        <li><a href="#">Bioinformatics</a></li>
        <li><a href="#">Biophysics</a></li>
        <li><a href="#">Cell Biology</a></li>
        <li><a href="#">Epidemiology</a></li>
        <li><a href="#">Genetics</a></li>
        <li><a href="#"></a>Molecular Biology</li>
        <li><a href="#"></a>Neurobiology</li>
      </ul>
    </li>
    <li>
      <a href="#">Chemical Sciences</a>
      <ul class="field-categories">
        <li><a href="#">Chemistry</a></li>
        <li><a href="#">Chemical Engineering</a></li>
        <li><a href="#">Inorganic Chemistry</a></li>
        <li><a href="#">Organic Chemistry</a></li>
        <li><a href="#">Physical Chemistry</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Physical Sciences</a>
      <ul class="field-categories">
        <li><a href="#">Geophysics</a></li>
        <li><a href="#">Physics</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Mathematics</a>
      <ul class="field-categories">
      </ul>
    </li>
  </ul>
</nav>
