<div class="jumbotron">
  <div class="container">
    <h1 class="app-name">LitGenius</h1>
    <div class="new-paper-link">
      <a href="#/papers/new">Post a new paper</a>
    </div>
  </div>
</div>

<nav class="field-index-home">
  <ul class="field-list-home">
    <li><a class="field-category-home" href="#">Home</a></li>
    <li class="field-category-home dropdown">
      <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Biological Sciences
      </div>
      <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li><a role="menuitem" tabindex="-1" href="#">Biochemistry</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Bioengineering</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Bioinformatics</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Biophysics</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Cell Biology</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Epidemiology</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Genetics</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Molecular Biology</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Neurobiology</a></li>
      </ul>
    </li>

    <li class="field-category-home dropdown">
      <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Chemical Sciences
      </div>
      <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li><a role="menuitem" tabindex="-1" href="#">Chemistry</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Chemical Engineering</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Inorganic Chemistry</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Organic Chemistry</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Physical Chemistry</a></li>
      </ul>
    </li>

    <li class="field-category-home dropdown">
      <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Physical Sciences
      </div>
      <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li><a role="menuitem" tabindex="-1" href="#">Geophysics</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Physics</a></li>
      </ul>
    </li>

    <li class="field-category-home dropdown">
      <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Mathematics
      </div>
      <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      </ul>
    </li>
  </ul>
</nav>
