<ul class="home-subview">
  <li class="featured-box home-subview-box">
    <div class="home-subview-box-text">Featured</div>
  </li>
  <li class="about-box home-subview-box">
    <div class="home-subview-box-text">About</div>
  </li>
  <li class="contact-box home-subview-box">
    <div class="home-subview-box-text">Contact</div>
  </li>
</ul>
