<nav class="navbar-main">
  <nav class="category-nav clearfix row">
    <div class="go-home col"><a href="#"><img class="logo" id="logoImg" src="assets/logo-2.png"/></a></div>

    <div class="field-category col">Biological Sciences</div>
    <div class="field-category col">Chemical Sciences</div>
    <div class="field-category col">Physical Sciences</div>
    <div class="field-category col">Mathematics</div>

    <div class="dropdown col pull-right">
      <img class="btn dropdown-toggle profile-icon" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="assets/profile-icon-2.png">
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li><a href="/#/users/<%= currentUserId %>">Your Profile</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li role="separator" class="divider"></li>
        <li class="sign-out">Sign Out</li>
      </ul>
    </div>
  </nav>

  <nav class="search-bar">
    <a href="#/papers/new">
      <img class="new-paper-icon-nav" src="assets/cross.png">
      <p class="new-paper-nav">Post a new paper</p>
    </a>
    <form class="search-field">
      <input class="search-box"
             data-toggle="tooltip"
             data-placement="left"
             title="for example, 'Neurobiology'"
             type="text"
             class="search-field"
             placeholder="Search LitGenius...">
    </form>
    <div class="dropdown-box"></div>
  </nav>
</nav>
