<nav class="navbar-main">
  <nav class="category-nav clearfix">
    <img class="logo" src="assets/LitGenius-logo.png"/>
    <nav class="field-index">
      <ul class="field-list">
        <li class="field-category dropdown">
          <a href="#" class="field dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Biological Sciences
          </a>
          <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Biochemistry</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Bioengineering</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Bioinformatics</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Biophysics</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Cell Biology</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Epidemiology</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Genetics</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Molecular Biology</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Neurobiology</a></li>
          </ul>
        </li>

        <li class="field-category dropdown">
          <a href="#" class="field dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Chemical Sciences
          </a>
          <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Chemistry</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Chemical Engineering</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Inorganic Chemistry</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Organic Chemistry</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Physical Chemistry</a></li>
          </ul>
        </li>

        <li class="field-category dropdown">
          <a href="#" class="field dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Physical Sciences
          </a>
          <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Geophysics</a></li>
            <li><a class="field" role="menuitem" tabindex="-1" href="#">Physics</a></li>
          </ul>
        </li>

        <li class="field-category dropdown">
          <a href="#" class="field dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Mathematics Sciences
          </a>
          <ul class="field-categories dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          </ul>
        </li>
      </ul>
    </nav>

    <p class="sign-out">Sign Out</p>
  </nav>

  <nav class="search-bar">
    <form class="search-field">
      <input class="search-box" type="text" class="search-field" placeholder="Search LitGenius...">
    </form>
  </nav>
</nav>
