<nav class="navbar-main">
  <nav class="category-nav clearfix row">
    <div class="go-home col"><a href="#"><img class="logo" src="assets/logo-2.png"/></a></div>

    <div class="field-category col">Biological Sciences</div>
    <div class="field-category col">Chemical Sciences</div>
    <div class="field-category col">Physical Sciences</div>
    <div class="field-category col">Mathematics</div>

    <p class="sign-out col">Sign Out</p>
    <a href="#/users/<%= currentUserId %>">
      <div class="profile col">
        <p class="profile-link">Profile</p>
        <img class="profile-icon" src="assets/profile-icon-2.png">
      </div>
    </a>
  </nav>

  <nav class="search-bar">
    <a href="#/papers/new">
      <img class="new-paper-icon-nav" src="assets/cross.png">
      <p class="new-paper-nav">Post a new paper</p>
    </a>
    <form class="search-field">
      <input class="search-box"
             data-toggle="tooltip"
             data-placement="left"
             title="for example, 'Neurobiology'"
             type="text"
             class="search-field"
             placeholder="Search LitGenius...">
    </form>
    <div class="dropdown-box"></div>
  </nav>
</nav>
